.WeatherSearch {
  border: 1px solid #2f6ab6;
  color: egb(135, 135, 135);
  padding: 16px;
  margin: 30px auto;
  max-width: 600px;
  border-radius: 4px;
}

.WeatherSearch form {
}
.WeatherSearch h1 {
  color: #2f6ab6;
  font-size: 24px;
  line-height: 29px;
  margin: 20px 0 0;
}

.WeatherSearch ul {
  margin: 0;
  padding: 0;
}
.WeatherSearch li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
